/* styling for the body and html */
body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #0A84FF;
}

/* styling for the 3D scence container */
#threejs-container {
    width: 100vw;
    height: 100vh;
    display: block;
}